.LoginForm
  display: flex
  align-items: center
  justify-content: center
  height: 100vh
  width: 100vw
  flex-direction: row
  overflow: hidden
.panel
  display: flex
  flex-direction: column
  height: 100vh
  width: 50vw
  align-items: center
  justify-content: center
.RightPanel
  background: linear-gradient(to bottom right, #0824D4, #1A56ED)
.LeftPanel img
  width: 100px
.LeftPanel h1
  margin-top: 40px
  margin-bottom: 40px
.RightPanelContent, .LeftPanelContent
  transform: translateY(-30px)
#info-text
  margin-bottom: 25px
  margin-top: -15px
#register-text
.LeftPanelContent .button
  margin-top: 30px
  margin-bottom: 15px
#higlighted
  color: blue
  font-weight: 700
  font-size: 17px
.RightPanelContent img
  width: 100%
.RightPanelContent
  margin-left: 10%
  margin-right: 10%
#feature-ad
  background-color: white
  border-radius: 15px
  width: 90px
  text-align: center
  font-weight: 700
  font-size: 12px
  padding: 7px
  color: blue
#headline-ad
  color: white
  font-size: 30px
  font-weight: 700
#blue
  color: #05D5FF
#text-add
  color: white
#text-ad-wrapper
  display: flex
  padding-bottom: 20px
#learn-more-ad
  color: white
  padding: 10px