.RegisterForm
  display: flex
  align-items: center
  justify-content: center
  height: 80vh
  flex-direction: row
.input-field
  margin-top: 15px
  margin-bottom: 15px
//.RightPanel img
//  width: 500px