.input-field
  position: relative
  width: 350px
  height: 40px
  line-height: 44px
.input-field label
  position: absolute
  top: -5px
  left: 14px
  width: 100%
  color: #d3d3d3
  transition: 0.2s all
  margin-top: 3px
  cursor: text
  -webkit-touch-callout: none
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
.input-field input
  padding-top: 10px
  width: 100%
  height: 30px
  border-radius: 5px
  outline: 0
  border: 2px solid #E6EAED
  text-indent: 10px
  box-shadow: none
  color: #111

.input-field input:invalid
  outline: 0
// color: #ff2300;
//   border-color: #ff2300;

.input-field input:focus
  border-color: #D2D6D9

.input-field input:focus~label,
.input-field input:valid~label
  font-size: 10px
  top: -14px
